.Information {
	--expanded-color: var(--secondary-color);
	--row-gap: var(--space-half);
	--button-dimension: 36rem;
	&__content {
		display: grid;
		align-items: flex-start;
		grid-template-columns: auto 1fr;
	}
	&__left {
		display: grid;
		row-gap: var(--row-gap);
		grid-template: repeat(3, 1fr) / auto var(--row-gap);
		&-gap {
			background-color: var(--expanded-color);
			border-top: var(--border-width) var(--border-style) var(--border-color);
			border-bottom: var(--border-width) var(--border-style) var(--border-color);
		}
	}
	&__right {
		border-radius: var(--border-radius);
		border-top-left-radius: 0;
		padding: var(--space-half) var(--space-three-quart);
		border: var(--border-width) var(--border-style) var(--border-color);
		&-expanded {
			background-color: var(--expanded-color);
		}
		&-location {
			height: 500rem;
		}
		&-paragraph-first {
			font-weight: 700;
			font-size: 28rem;
		}
		&-event-time {
			font-size: 30rem;
			font-weight: 700;
		}
	}
}
