.Information {
	--expanded-color: var(--secondary-color);
	--row-gap: var(--space-half);
	--button-dimension: 36rem;
	&__content {
		display: grid;
		align-items: flex-start;
		grid-template-columns: auto 1fr;
	}
	&__left {
		display: grid;
		row-gap: var(--row-gap);
		grid-template: repeat(3, 1fr) / auto var(--space-quart);
		&-gap {
			background-color: var(--expanded-color);
		}
	}
	&__right {
		min-height: 500rem;
		border-radius: var(--border-radius);
		border-top-left-radius: 0;
		padding: var(--space-half) var(--space-three-quart);
		&-expanded {
			background-color: var(--expanded-color);
		}
		&-location {
			height: 400rem;
		}
	}
}
