.Cover {
	&__images {
		height: 525rem;
		position: relative;
		@media (max-width: 1150px) {
			height: 600rem;
		}
		@media (max-width: 1000px) {
			width: 100%;
			height: auto;
			display: grid;
			position: unset;
			gap: var(--space-half);
			grid-template: repeat(2, 300rem) 300rem / repeat(2, 1fr);
			> &-cover:last-of-type {
				grid-column: 1 / -1;
			}
		}
		&-cover {
			@media (min-width: 1001px) {
				position: absolute;
				border-radius: var(--border-radius);
			}
			@media (max-width: 1000px) {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: left;
			}
			&-cow {
				@media (min-width: 1001px) {
					top: 0;
					left: 0;
					z-index: 1;
					height: 100%;
				}
			}
			&-river {
				object-position: left;
				@media (min-width: 1001px) {
					width: 45%;
					top: 50%;
					left: 43%;
					transform: translate(-50%, -50%);
					z-index: 2;
				}
			}
			&-climbing {
				@media (min-width: 1001px) {
					bottom: 0;
					right: 0;
					width: 33%;
					z-index: 1;
				}
			}
			&-pancakes {
				@media (min-width: 1001px) {
					top: 0;
					right: 24%;
					width: 25%;
					z-index: 3;
				}
			}
			&-shiba {
				@media (min-width: 1001px) {
					top: 3%;
					right: 2%;
					width: 24%;
					z-index: 2;
				}
				@media (max-width: 1000px) {
					object-position: top;
				}
			}
		}
	}
}
