.Title {
	display: flex;
	justify-content: center;
	&__title {
		font-weight: 300;
		text-align: center;
		font-size: 80rem;
		width: 50%;
		text-transform: lowercase;
		@media (max-width: 1360px) {
			font-size: 70rem;
		}
	}
}
