.Select {
	&__input {
		cursor: pointer;
		&-open {
			top: 50%;
			position: absolute;
			pointer-events: none;
			right: var(--space-quart);
			transform: translateY(-50%);
			&:hover,
			&:focus {
				background-color: transparent !important;
			}
			&-icon {
				color: var(--secondary-color) !important;
			}
		}
		&-select {
			&-option {
				padding: var(--space-half);
				border-bottom: var(--border-width) var(--border-style) var(--border-color);
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}
