.RSVP {
	&__modal {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		opacity: 0;
		position: absolute;
		visibility: hidden;
		z-index: 100;
		transition: var(--transition-duration) opacity;
		&-background {
			width: 100%;
			height: 100%;
			z-index: 101;
			position: absolute;
			background-color: rgba(#333, 0.3);
		}
		&-content {
			top: 50%;
			left: 100%;
			z-index: 102;
			width: 500rem;
			position: absolute;
			transform: translate(-50%, -50%);
			border-radius: var(--border-radius);
			background-color: var(--background-color);
			transition: var(--transition-duration) left;
			&-buttons {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}
