/* stylelint-disable color-named */
/* stylelint-disable color-hex-length */
/* stylelint-disable number-max-precision */
/* stylelint-disable scss/no-global-function-names */
/* stylelint-disable order/order */
/* stylelint-disable color-function-notation */
.RSVP {
	&__modal {
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		opacity: 0;
		position: absolute;
		visibility: hidden;
		overflow: hidden;
		z-index: 100;
		transition: var(--transition-duration) opacity;
		&-open {
			opacity: 1;
			visibility: visible;
		}
		&-background {
			width: 100%;
			height: 100%;
			z-index: 101;
			position: absolute;
			cursor: pointer;
			filter: blur(0.1px);
			background-color: rgba(#333, 0.4);
		}
		&-content {
			top: 50%;
			right: -100%;
			z-index: 102;
			width: 500rem;
			position: absolute;
			background-color: #fff;
			transform: translate(50%, -50%);
			border-radius: var(--border-radius);
			transition: var(--transition-duration) right;
			@media (max-width: 700px) {
				width: calc(100% - 2 * var(--space-double));
			}
			&-open {
				right: 50%;
			}
			&-close {
				--button-dimension: 36rem;
				top: calc(var(--button-dimension) / 2 * -1);
				right: calc(var(--button-dimension) / 2 * -1);
				position: absolute;
				&-disabled {
					pointer-events: none;
				}
			}
			&-title {
				margin-bottom: var(--space-half);
			}
			&-body {
				position: relative;
			}
			&-fields {
				text-align: center;
				&-paragraphs {
					display: flex;
					align-items: center;
					gap: var(--space-quart);
					flex-direction: column;
				}
				&-paragraph {
					width: 80%;
					font-size: 19rem;
				}
				&-dogsandkids {
					display: grid;
					gap: var(--space-half);
					grid-template-columns: 1fr 1fr;
				}
				&-notes {
					height: 116rem;
				}
			}
			&-buttons {
				display: grid;
				gap: var(--space-half);
				grid-template-columns: 3fr 1fr;
			}
			&-submitting {
				padding-bottom: 80rem;
			}
		}
	}
}

.Spinner {
	animation: rotate 2s linear infinite;
	z-index: 2;
	top: 70%;
	left: 50%;
	position: absolute;
	margin: -25rem 0 0 -25rem;
	width: 50rem;
	height: 50rem;
	&__path {
		stroke-linecap: round;
		stroke: var(--secondary-color);
		animation: dash 1.5s ease-in-out infinite;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

.pyro > .before,
.pyro > .after {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
		0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
		0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
		0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
		0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
		0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards,
		5s position linear infinite backwards;
}

.pyro > .after {
	animation-delay: 1.25s, 1.25s, 1.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
	to {
		box-shadow: 76px -151.6666666667px #ff8000, 168px 15.3333333333px #ff0044,
			144px -1.6666666667px #5100ff, 144px -264.6666666667px #ff0004,
			-43px -235.6666666667px #ddff00, -89px 33.3333333333px #ff1500, 46px -32.6666666667px #bf00ff,
			180px -248.6666666667px #008cff, -15px -299.6666666667px #ff0037,
			-211px 63.3333333333px #9dff00, 1px -125.6666666667px #7bff00, 73px -266.6666666667px blue,
			182px -28.6666666667px #0084ff, 118px 14.3333333333px #ee00ff, 220px -117.6666666667px #00ffb3,
			47px -220.6666666667px #0062ff, -13px 10.3333333333px #00ff80, 236px -191.6666666667px #0900ff,
			-168px -184.6666666667px #0051ff, -130px -319.6666666667px #ff0088,
			-190px -68.6666666667px #0055ff, -178px -45.6666666667px #0044ff,
			164px -9.6666666667px deepskyblue, -129px -157.6666666667px #ff9900,
			44px -260.6666666667px #0062ff, -153px -280.6666666667px #2200ff,
			193px -367.6666666667px #8400ff, -49px 43.3333333333px #15ff00,
			-136px -176.6666666667px #ffc400, -43px -208.6666666667px #ff00c8,
			174px -293.6666666667px #1a00ff, -168px -187.6666666667px #7bff00,
			182px -27.6666666667px #00e1ff, -151px -70.6666666667px #ff3700,
			217px -131.6666666667px #ffe100, -103px -200.6666666667px #ff007b,
			-112px -118.6666666667px #fb00ff, -184px -85.6666666667px #00ff37,
			8px -15.6666666667px #7700ff, 114px -302.6666666667px #11ff00, 109px 53.3333333333px #000dff,
			245px -338.6666666667px #ff2b00, -188px -223.6666666667px #fbff00,
			-227px -12.6666666667px #62ff00, 116px -306.6666666667px #00ff8c,
			28px -334.6666666667px #ff0099, -191px -280.6666666667px #ff9500,
			-160px 83.3333333333px #00c8ff, 17px -31.6666666667px #ff00d9, 13px 70.3333333333px #e1ff00,
			88px -300.6666666667px #0033ff;
	}
}
@keyframes gravity {
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}
@keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}
