:root {
	--border-width: 2rem;
	--border-radius: 15rem;

	--primary-color: #66bb6a;
	--primary-color-dark: #338a3e;
	--primary-color-light: #98ee99;

	--secondary-color: #dcedc8;
	--secondary-color-dark: #94af76;
	--secondary-color-light: #f8ffd7;

	--border-color: #ffcc80;
	--hover-color: var(--secondary-color-light);
	--border-hover-color: #ffcc80;

	--font-family: "Comfortaa", sans-serif;

	--transition-duration: 0.4s;

	--space: 30rem;
	--line-height: 1.5;
}

#Root {
	overflow-y: scroll;
	background-color: var(--background-color);
}

@media (max-width: 1360px) {
	html {
		font-size: 0.8px;
	}
}
