:root {
	--border-width: 3rem;
	--header-height: 90rem;

	--primary-color: #ff9800;
	--primary-color-dark: #c66900;
	--primary-color-light: #ffc947;

	--secondary-color: #78909c;
	--secondary-color-dark: #338a3e;
	--secondary-color-light: #98ee99;

	--border-color: #ffcc80;
	--hover-color: #ffe0b2;
	--border-hover-color: #ffcc80;

	--background-color-1: #fff3e0;
	--background-color-2: #ffe0b2;

	--font-family: "Roboto", sans-serif; }